# Node Environment (development | production)
NODE_ENV=development

# Port
PORT=5000

# MongoDB Connection
MONGODB_URI=mongodb://localhost:27017/turut

# JWT Configuration
JWT_SECRET=superAdmin123                     #your-super-secret-key-change-this

# CORS Origins (comma-separated)
CORS_ORIGIN=http://localhost:3000,http://localhost:19006,http://localhost:19000,http://localhost:8081